html {
    font-size: 62.5%;
}

header {
    margin: 3em 15em;
}

img {
    width: 10vw;
    float: left;
    padding: 1em 0;
}

#Titulo {
    padding: 1em 3em;
    margin: 0.5em 3em;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.5em;
}

.subTitulo {
 
    font-size: 1.4em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.6em;
}